@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Android';
    src: url(font/idroid.otf) format('opentype');
    font-weight: normal;
}


/*
#00ccbe3d
#03968c
#3F7C85
*/

:root{
    --cor: #fff;
    --cor0: #72F2EB;
    --cor1: #00ccbe3d;
    --cor2: #72f2ec67;
    --cor3: #0a7485;
    --cor4: #747E7E;
    --cor5:#575e5e ;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --font-android: 'Android', cursive;
}





*{
    margin: 0%;
    padding: 0%;
}




body{
    background-color: var(--cor2);
    font-family: var(--fonte-padrao);
    
}

a.externo::after{
    content: '\00A0\1F517';

}


header{
    background-color: var(--cor4);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    background-image: linear-gradient(to bottom, var(--cor2),var(--cor3));
}

header > p{
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.281);
    margin-bottom: 20px;
}


header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom:20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.281);
    font-weight: normal;
}

 nav{
    display: flex;
    justify-content: center;
    background-color: var(--cor3);
    padding: 10px;
    padding-top: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.329);
}

nav > a{
    color: #fff;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
}

nav > a:hover{
    background-color: var(--cor2);
    color: white;
    text-decoration: underline;
    
}

article > h1{
    color: var(--cor3);
    font-family: var(--font-android);
}

article > h2{
    color: var(--cor3);
    font-family: var(--font-android);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}

main{
    background-color: var(--cor);
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom :30px; 
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.356);
}

div.video{
    background-color: var(--cor3);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom:57% ;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width:90% ;
    height:90% ;

}

main p {
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong{
    color: #0a7485;
    font-weight: bold;
    
    padding: 2px 5px;
}

main img{
    width: 100%;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: #0a7485;
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor5);
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}


footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.6em;
    padding: 5px;
}


aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.192);
}

aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position:inside ;
    columns: 2;
}

aside > h3{
    background-color: var(--cor3);
    padding: 5px;
    color: #fff;
    margin: -10px -10px 0 -10px;
    border-radius: 10px 10px 0px 0px ;
}


footer > p > a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}


